<style>
    #main {
        background-color: #fbbc3b;
        width: 850px;
        text-align: center;
        margin:0 auto;

        padding: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }
    h1 {
        font-family: PFBeauSansPro-Reg;
    }
    @font-face {
        font-family: PFBeauSansPro-Reg;
        src: url(<%= asset_path('PFBeauSansPro-Reg.ttf') %>);
    }
</style>

<div id='main' align='center'>
  <h1>Тест пройден!</h1>
</div>